<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Challenge Platform</title>
    <link rel="stylesheet" href="/Frontend/Assets/styles.css">
</head>

<body>
    <header>
        <h1>Welcome to the Challenge Platform</h1>
        <p>It is a training platform for cybersecurity challenges. The challenges are vulnerable sites with several
            issues to solve.</p>
    </header>
    <main>
        <h2>Available Challenges</h2>
        <h3>Hard Difficulty</h3>
        <ul>
            <li>
                Hard Challenge - Network:
                <a
                    href="/Challenges/Hard_Challenge-Network/Hard_Challenge-Network/Detailed-Solution.pdf">Description</a>
                <form action="/start/hard-network" method="post" style="display:inline;">
                    <button type="submit">Lancer le Challenge</button>
                </form>
            </li>
            <li>
                Hard Challenge - Forensic:
                <a href="/Challenges/Hard-Chanllenge-Forensic/Hard-Chanllenge-Forensic/Description.txt">Description</a>
                <form action="/start/hard-forensic" method="post" style="display:inline;">
                    <button type="submit">Lancer le Challenge</button>
                </form>
            </li>
        </ul>
        <h3>Medium Difficulty</h3>
        <ul>
            <ul>
                <li>
                    Middle Challenge - Picky Website:
                    <a href="/Challenges/Middle-Challenge/Description.txt">Description</a>
                    <form action="/start/middle-picky" style="display:inline;">
                        <button type="submit">Lancer le Challenge</button>
                    </form>
                </li>
            </ul>


            <li>
                Middle Challenge - Website:
                <a href="/Challenges/Middle-Challenge/Description.txt">Description</a>
                <form action="/start/middle-desc" method="post" style="display:inline;">
                    <button type="submit">Lancer le Challenge</button>
                </form>
            </li>
        </ul>
    </main>
</body>

</html>